<h1>Liste de contacts</h1>

<table>
  <tr>
    <th>Nom</th>
    <th>Prenom</th>
    <th>Email</th>
    <th>Email2</th>
    <th>Telephone</th>
    <th>Telephone2</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @contacts.each do |contact| %>
  <tr>
    <td><%= contact.name %></td>
    <td><%= contact.prenom %></td>
    <td><%= contact.email %></td>
    <td><%= contact.email2 %></td>
    <td><%= contact.telephone %></td>
    <td><%= contact.telephone2 %></td>
    <td><%= link_to 'Voir', contact %></td>
    <td><%= link_to 'Editer', edit_contact_path(contact) %></td>
    <td><%= link_to 'Detruire', contact, method: :delete, data: { confirm: 'Confirmer ?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nouveau contact', new_contact_path %>

